html {
	padding: 12px;
	margin: 0;
	background: #eff1f2;
}

body {
	padding: 12px;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #dfdfdf;
	color: rgb(68, 68, 68);
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: #005a92;
}
	a:focus,
	a:hover {
		text-decoration: none;
	}

p {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 14px;
}

h1 {
	background: url('icon.png') no-repeat left center;
	padding-left: 40px;
	line-height: 40px;
	font-size: 22px;
	margin: 0 0 20px 0;
	color: #778e84;
	letter-spacing: -1px;
}

h2 {
	margin: 30px 0 10px;
}

.version {
	background-color: #F9FAFA;
	border: 1px solid #d3d9dc;
	padding: 13px 9px 13px 12px;
	font-size: 18px;
	margin-bottom: 30px;
}
	.version p {
		margin: 0;
	}

.view_link a {
	margin: 0 0 10px 0;
	padding: 6px 6px 6px 10px;
	background: #f6fbfe;
	border: 1px solid #DDE8ED;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 21px;
	display: block;
}
